@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

:root {
	--main-bg: #f2e9e1;
	--alt-bg: #f4ede8;
	--alt-lighter-bg: #faf4ed;
	--alt-darker-bg: #dfdad9;
	--main-fg: #575279;
	--alt-fg: #797593;
	--alt-fg-lighter: #9893a5;
	--red: #b4637a;
	--yellow:#ea9d34;
	--blue: #d7827e;
	--green: #286983;
	--teal: #56949f;
	--cyan: #907aa9;
	--love: #eb6f92;
	--gold: #f6c177;
	--rose: #ebbcba; 
	--pine: #31748f;
	--foam: #9ccfd8;
	--iris: #c4a7e7;
	--ft-sans: 'IBM Plex Sans', sans-serif;
	--ft-serif: 'IBM Plex Serif', serif;
	--ft-mono: 'IBM Plex Mono', monospace;
	--ft-fantasy: 'Pacifico', cursive;
}

/* -- Header -- */
header > .header-content {
	background-color: var(--rose);
	border: 4px solid var(--main-fg);
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 10px -10px 0px var(--red);
	color: var(--main-fg);
	display: flex;
	flex-direction: column;
	/* top | right | bottom | left */
	margin: 25px 80px 25px 80px;
}

header > .header-content > h1 {
	font-family: var(--ft-fantasy);
	font-size: 3.5em;
	text-align: center;
	text-decoration: underline;
}

header > .header-content > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.9em;	
}
/* -- END OF Header -- */

/* -- Nav -- */
.nav {
	background-color: var(--alt-bg);
	border: 4px solid var(--main-fg);
	box-shadow: 10px -10px 0px var(--gold);
	margin: 25px 80px 25px 80px;
}
.nav a {
	font-family: var(--ft-sans);
} 
.nav li::marker {
	content: '🌸 ';
}
/* -- END OF Nav -- */

/* -- Body -- */
body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--main-bg);
	display: flex;
	flex-direction: column;
	
}

/* Unvisited link */
a:link {
	color: var(--main-fg);
}
/* Visited link */
a:visited {
	color: var(--pine);
}
/* Mouse over link */
a:hover {
	background-color: var(--rose);
	font-family: var(--ft-mono); 
}
/* Selected link */
a:active {
	color: var(--red);
}
/* -- Section -- */

.section {
	margin: 25px 80px 25px 80px;
	font-family: var(--ft-sans);
}

.section li::marker {
	content: '🌼 ';
}

.section h2,h3 {
	font-family: var(--ft-serif);
}
/* -- END OF Section -- */


.form-container { /* -- Form -- */
	display: block;
	text-align: center;
}

div.form-content {
	font-family: var(--ft-sans);
	border: 4px solid var(--main-fg);
	box-shadow: 10px -10px 0px var(--gold);
	margin: 25px 80px 25px 80px;
	padding: 10px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

div.form-content li::marker {
	content: '🌼 ';
}

form input[type=text], textarea {
	font-family: var(--ft-sans);
	font-size: 0.9em;
	width: 100%;
	margin-left: 10px 0;
	box-sizing: border-box;
	padding: 10px 10px;
}

form textarea {
	resize: none;
}

form input[type=button] {
	background-color: var(--rose);
	border: 1px solid var(--main-fg);
	border-radius: 4px;
	color: var(--main-fg);
	font-size: 0.9em;
	margin-top: 10px; 
	padding:5px 5px 5px 5px;
}

form input[type=button]:hover {
	background-color: var(--foam);
} /* -- END OF Form -- */

/* -- Aside -- */
.aside {
	font-family: var(--ft-serif);
	margin: 25px 80px 25px 80px;
	text-align: center;
}

.aside img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.9em;
}

.aside p {
	font-weight: bold;
	font-size: 1em;
}
/* -- END OF Aside -- */

/* -- Separator -- */
hr {
	border: 1px solid var(--alt-fg-lighter);
	width: 75%;
}
/* -- END OF Separator -- */

/* -- END OF Body -- */

/* -- Table -- */
/* -- Tablas servicios_de_paseos -- */

div.table-container {
	display: block;
	text-align: center;
}

div.table-container h2 {
	font-family: var(--ft-sans);
}

div.table-container table {
	border: 4px solid var(--main-fg);
	box-shadow: 10px -10px 0px var(--gold);
  	border-collapse: collapse;
  	color: var(--main-fg);
  	display: inline-block;
  	margin-left: 20px;
  	margin-right: 20px;
}

div.table-container th, td {
	font-family: var(--ft-sans);
  	text-align: left;
  	padding: 8px;
}

div.table-container th {
  background-color: var(--alt-darker-bg);
}

div.table-container tr:nth-child(even) {
  background-color: var(--alt-lighter-bg);
}

div.table-container tr:hover {
  background-color: var(--foam);
}

div.table-container td:first-child {
  border-left: none;
}

div.table-container td:last-child {
  border-right: none;
}

div.table-container th:first-child {
  border-left: none;
}

div.table-container th:last-child {
  border-right: none;
}
/* End of Table */

/* -- Footer -- */
footer > .footer-content {
	background-color: var(--rose);
	border: 4px solid var(--main-fg);
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 10px -10px 0px var(--love);
	color: var(--main-fg);
	/* top | right | bottom | left */
	margin: 25px 80px 25px 80px; 
}

/* Catalog */
/*-- Productos --*/
#catalog-container {
	background-image: linear-gradient(rgba(242, 233, 222, 0.5), rgba(250, 244, 237, 0.5)), url("../images/fondo-huellitas.jpg");
}

#catalog-container .section ul {
	background-image: linear-gradient(rgba(242, 233, 222, 0.8), rgb(244, 237, 232, 0.8)), url("../images/fondo-huella-corazon.jpg");
	background-size: 50%;
	border: var(--rose) 3px outset;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}

#catalog-container h2 {
	background-image: linear-gradient(rgba(242, 233, 222, 0.6), rgba(244, 237, 232, 0.6)), url("../images/fondo-huella-corazon.jpg");
	background-size: 50%;
	border: var(--rose) 3px outset;
	border-radius: 20px;
	color: var(--iris);
	font-size: 3em;
	margin-left: auto;
	margin-right: auto;
	padding: 3px 10px;
	text-align: center;
	width: 350px;
	-webkit-text-stroke: 1.5px var(--cyan);
}

.collares_y_correas, .alimentos, .productos_de_higiene, .juguetes, .camas {
	font-size: 1.2em;	
	text-align: center;
}

.collares_y_correas h3 {
	color: var(--foam);
	font-family: var(--ft-serif);
	font-size: 1.5em;
	-webkit-text-stroke: 0.8px var(--main-fg);
}

.alimentos h3 {
	color: var(--gold);
	font-family: var(--ft-serif);
	font-size: 1.5em;
	-webkit-text-stroke: 0.8px var(--main-fg);
}

.productos_de_higiene h3 {
	color: var(--love);
	font-family: var(--ft-serif);
	font-size: 1.5em;
	-webkit-text-stroke: 0.8px var(--main-fg);
}

.juguetes h3 {
	color: var(--teal);
	font-family: var(--ft-serif);
	font-size: 1.5em;
	-webkit-text-stroke: 0.8px var(--main-fg);
}

.camas h3 {
	color: var(--blue);
	font-family: var(--ft-serif);
	font-size: 1.5em;
	-webkit-text-stroke: 0.8px var(--main-fg);
}
/* -- END OF Catalog -- */

footer > .footer-content > p {
	font-family: var(--ft-fantasy);
	font-size: 1.5em;
	text-align: center;
	text-decoration: underline;
}
/* -- END OF Footer -- */