<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta charset="UTF-8">
		<!-- Importar CSS -->
		<link rel="stylesheet" th:href="@{/css/estilos.css}">
		<!-- Webpage Icon & Title -->
		<link rel="shortcut icon" type="image/svg" th:href="@{/images/pet_shop_favicon.svg}">
		<title>Contactanos</title>
	</head>
	<body>
		<!-- Header -->
		<header th:replace="~{layouts/header :: header}"></header>
		<!-- End of Header -->	
		
		<!-- Contact-container -->
		<div class="contact-container">
		
			<!-- Information -->
			<div class="contact-information-container">
				<h2>Contáctenos</h2>
				<p>346 Ramírez de Velazco, 388-451-6849<br>
				Lunes a Viernes: 08:00 a 17:00<br>
				Sabado y Domingo: 08:00 a 12:00<br>
				<a href="#">welovepets@gmail.com</a>
				</p>
			
				<h4>Nuestras redes sociales</h4>
				<ul>	
					<li><a href="#SocialMedia">Twitter</a></li>
					<li><a href="#SocialMedia">Instagram</a></li>
					<li><a href="#SocialMedia">Faceebook</a></li>
					<li><a href="#SocialMedia">WhatsApp</a></li>
				</ul>
			</div>
			<!-- End of Information -->		
			
			<!-- Separator -->	
			<hr>
			<!-- End of Separator -->
			
			<!-- Form -->
			<div class="form-container">
				<form id="form">
					<p><label for="nombre">Nombre</label>
					<input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre"></p>
					<p><label for="email">Email</label>
					<input type="text" id="email" name="email" placeholder="Ingrese un email valido"></p>
					<p><label for="ciudad">Ciudad</label>
					<input type="text" id="ciudad" name="ciudad" placeholder="Ingrese su ciudad"></p>
					<p><label for="mensaje">Mensaje</label>
					<textarea rows="4" cols="50" name="mensaje" form="form" placeholder="Escribenos un mensaje 😊"></textarea>
					<input type="button" value="Enviar">
				</form>
			</div>
			<!-- End of Form -->
		</div>
		<!-- End of Contact-container -->
		
		<!-- Separator -->
		<hr>
		<!-- End of Separator -->
		
		<!-- Footer -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<!-- End of Footer -->
	</body>
</html>