<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
<title>💚 Amamos a las mascotas!</title>
</head>
<body>
	<header>
		<img src="../static/images/WeLovePets.jpg" alt="PetShopBanner" title="We love Pets!">
		<nav>
			<ul>
				<li><a href="productos.html">Productos</a></li>
				<li><a href="consejos_de_salud.html">Consejos de salud</a></li>
				<li><a href="servicio_de_paseos.html">Servicio de paseos</a></li>
				<li><a href="sucursales.html">Sucursales</a></li>
				<li><a href="contactanos.html">Contáctanos</a></li>
			</ul>
		</nav>
	</header>
	<h1 id="top">Amamos a las mascotas!</h1>
	
	<section id="seccion">
		<ul>
			<li><a href="#">articulo 1</a></li>
			<li><a href="#articulo2">articulo 2</a></li>
			<li><a href="#articulo3">articulo 3</a></li>
		</ul>
		<article id="articulo1">
			<h3>Articulo 1</h3>
			<p>Promovemos el bienestar de tu mascota a traves de
			</p>
		</article>
		<article id="articulo2">
			<h3>Articulo 2</h3>
	        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

		</article>
		<article id="articulo3">
			<h3>Articulo 3</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</article>
		<p><a href="#seccion"> Volver al índice</a>
	</section>
	
	<aside>
		<img src="../static/images/Chicken.png" title="We give love, we deserve love!">
		<strong>La tenencia de una mascota conlleva una gran responsabilidad y esta penado por ley el maltrato hacia ellos.</strong>
		<p><a href="https://www.argentina.gob.ar/normativa/nacional/ley-14346-153011/texto"
			title="PROTECCION DE LOS ANIMALES"> Ley de proteccion de los animales</a></p>		
	</aside>
	
	<footer>
		Copyright &copy 2023 - Amamos a las mascotas! - Diseñado por Grupo19 - Jujuy - República Argentina 
	</footer>
	
	
</body>
</html>