<!DOCTYPE html>
<html lang="es">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
<title>💚 Amamos a las mascotas!</title>
</head>
<body>
	<header>
		<h1>Amamos a las mascotas!</h1>
		<img src="../static/images/WeLovePets.jpg" alt="PetShopBanner" title="We love Pets!">
	</header>
	<nav>
		<ul>
			<li><a href="productos.html">Productos</a></li>
			<li><a href="consejos_de_salud.html">Consejos de salud</a></li>
			<li><a href="servicio_de_paseos.html">Servicio de paseos</a></li>
			<li><a href="sucursales.html">Sucursales</a></li>
			<li><a href="contactanos.html">Contáctanos</a></li>
		</ul>
	</nav>
	<section id="seccion">
		<p>Nosotros promovemos el bienestar para tu mascota a traves de:</p>
		<ul>
			<li><a href="#articulo1">Servicios</a></li>
			<li><a href="#articulo2">Salud</a></li>
			<li><a href="#articulo3">Productos</a></li>
		</ul>
		<article id="articulo1">
			<h3>Servicios</h3>
			<p>Ofrecemos una variedad de opciones para tu mascota como servicio de paseo, indumentaria,
			   alimentos y varias cosas más en nuestras sucursales.</p>
		</article>
		<article id="articulo2">
			<h3>Salud</h3>
	        <p>Poseemos personal dedicado al cuidado de tu mascota, ellos te ayudaran a tu mascota
	           mantenga habitos saludables para una vida plena ademas de consejos sobre cuidado para
	           aquellas mascotas que lo necesiten.</p>
		</article>
		<article id="articulo3">
			<h3>Productos</h3>
			<p>Tenemos una variedad de productos pensado para que hagan de la vida de su mascota algo
			   inolvidable.</p>
		</article>
		<p><a href="#seccion"> Volver al índice</a>
	</section>
	<aside>
		<img src="../static/images/Chicken.png" title="We give love, we deserve love!">
		<strong>La tenencia de una mascota conlleva una gran responsabilidad y esta penado por ley el maltrato hacia ellos.</strong>
		<p><a href="https://www.argentina.gob.ar/normativa/nacional/ley-14346-153011/texto"
			title="PROTECCION DE LOS ANIMALES"> Ley de proteccion de los animales</a></p>		
	</aside>
	<hr>
	<footer>
		<p>Copyright &copy 2023 - Amamos a las mascotas! - Diseñado por Grupo19 - Jujuy - República Argentina</p> 
	</footer>
</body>
</html>