<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta charset="UTF-8">
		<!-- Importar CSS -->
		<link rel="stylesheet" th:href="@{/css/estilos.css}">
		<!-- Webpage Icon & Title -->
		<link rel="shortcut icon" type="image/svg" th:href="@{/images/pet_shop_favicon.svg}">
	<title>Nuevo Producto</title>
	</head>
	<body>
		<!-- Header -->
		<header th:replace="~{layouts/header :: header}"></header>
		<!-- End of Header -->

		<div style="padding: 10px; border: 2px solid; grid-row: 2; grid-column: 2;">

			<form th:action="@{/productos/guardar}" th:object="${producto}" method="post">
				<p><label>Nombre: </label></p>
				<input type="text" id="nombre" name="nombre_producto" th:field="*{nombre}">
				<p><label>Codigo: </label></p>
				<input type="number" id="codigo" name="codigo_producto" th:field="*{codigo}">
				<p><label>Categoria: </label></p>
				<select id="categoria" name="categoria_producto" th:field="*{categoria}">
					<option value="">Selecciona una categoria</option>
					<option value="Alimentos">Alimentos</option>
					<option value="Camas">Camas</option>
					<option value="Collares y correas">Collares y correas</option>
					<option value="Higiene">Higiene</option>
					<option value="Juguetes">Juguetes</option>
				</select>
				<p><label>Descuento: </label></p>
				<input type="number" id="descuento" name="descuento_producto" th:field="*{descuento}">
				<p><input type="submit" class="button" value="Guardar"></p>
			</form>
		<!-- <p><a th:text="${}"></a></p> -->
		</div>
		
		<!-- Footer -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<!-- End of Footer -->
	</body>
</html>