<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Productos</title>
</head>
<body>
	<header>
		<h1>Amamos a las mascotas!</h1>
		<img src="../static/images/WeLovePets.jpg" alt="PetShopBanner" title="We love Pets!">
		<li><a href="index.html">Regresar a la pagina principal</a></li>
	</header>
	<h2>Productos</h1>
	<h3>Collares y Correas</h3>
		<h4>Pequeños, Medianos y Grandes.</h4>
		<img src="../static/images/Collar_con_pañuelo.jpg" alt="collar con pañuelo" height="150" width="150" title="collar con pañuelo" border="2">
		<img src="../static/images/Collares_nylon_lisos.jpg" alt="collar común" height="150" width="150" title="collar común de diferentes colores" border="2">
		<img src="../static/images/collares_de_cuero.jpg" alt="collar de cuero" height="150" width="150" title="collar de cuero" border="2">
		<img src="../static/images/correa_alpina.jpg" height="150" width="150" title="Correa Alpina" border="2">
		<img src="../static/images/correa_extendible.jpg" alt="correa extendible" height="150" width="150" title="Correa Extendible" border="2">
		<img src="../static/images/correa_extendible_flexi.jpg" alt="correa extendible flexi" height="150" width="150" title="Correa Extendible Flexi" border="2">
		<img src="../static/images/correas_estampadas.jpg" alt="correas estampadas" height="150" width="150" title="Correas Estampadas" border="2">			
	<h3>Alimentos</h3>
		<h4>Alimentos balaceados, nutritivos y para mascotas castradas.</h4>
		<img src="../static/images/alimento_pedigree.jpg" alt="alimento pedigree" height="150" width="150" title="Alimento Pedigree" border="2">
		<img src="../static/images/alimento_bonelo.png" alt="alimento bonelo" height="150" width="150" title="Alimento Bonelo" border="2">
		<img src="../static/images/alimento_dog_chow.jpg" alt="alimento dog chow" height="150" width="150" title="Alimento Dog Chow" border="2">
		<img src="../static/images/alimento_dogui.jpg" alt="alimento dogui" height="150" width="150" title="Alimento Dogui" border="2">
		<img src="../static/images/alimento_agility.jpg" alt="alimento agility" height="150" width="150" title="Alimento Agility" border="2">
		<img src="../static/images/alimento_raza.jpg" alt="alimento raza" height="150" width="150" title="Alimento Raza" border="2">
		<img src="../static/images/alimento_siete_vidas.jpg" alt="alimento siete vidas" height="150" width="150" title="Alimento Siete Vidas" border="2">
		<img src="../static/images/alimento_Gati.jpg" alt="alimento gati" height="150" width="150" title="Alimento Gati" border="2">		
	<h3>Productos de Higiene</h3>
		<h4>Productos de buena calidad para la higiene de tus mascotas.</h4>
		<img src="../static/images/cepillo_para_gatos.jpg" alt="cepillo" height="150" title="Cepillo para Gatos" border="2">
		<img src="../static/images/caja_para_gato.jpg" alt="Bandeja Sanitaria para gato" height="150" title="Bandeja Sanitaria para gatos" border="2">
		<img src="../static/images/champu_para_mascotas.jpg" alt="champu" height="150" title="Champu para Mascotas" border="2">
		<img src="../static/images/perfume_para_mascotas.jpg" alt="perfume" height="150" title="Perfume para Mascotas" border="2">
		<img src="../static/images/rodillos_quitapelos.jpg" alt="rodillo" height="150" title="Rodillo quita pelos" border="2">
		<img src="../static/images/toallitas-higiene-para-perro-y-gato-musgo-blanco-aloe.jpg" alt="toallitas" height="150" title="Toallas Higienicas para Mascotas" border="2">	
	<h3>Juguetes</h3>
		<h4>Juguetes para disfrutar con tu mascota en tu tiempo libre.</h4>
		<img src="../static/images/hueso_para_perro.jpg" alt="Juguete de un Hueso" height="150" width="150" title="Hueso para Jugar" border="2">
		<img src="../static/images/juguete_mazorca_para_perros.jpg" alt="Juguete de una Mazorca" height="150" width="150" title="Mazorca para jugar con el perro" border="2">
		<img src="../static/images/juguete_para_masticar.jpg" alt="Juguete para que mastique el perro" height="150" width="150" title="Juguete para masticar" border="2">
		<img src="../static/images/pelota_con_alimento_para_perro.jpg" alt="Juguete pelota con alimento" height="150" width="150" title="Pelota con alimento para perro" border="2">
		<img src="../static/images/pelota_estire.jpg" alt="Juguete pelota estatica para morder" height="150" width="150" title="Pelota para morder y estirar" border="2">
		<img src="../static/images/raton_con_sonido.jpg" alt="raton con sonido para gatos" height="150" width="150" title="Raton con sonido para jugar con el gato" border="2">
		<img src="../static/images/tunel_para_gato.jpg" alt="Tunel para que juegue el gato" height="150" title="Tunel para que juegue el gato" border="2">	
	<h3>Camas</h3>
		<h4>Camas de diferentes modelos y diseños.</h4>
		<img src="../static/images/cama_colchon_colchoneta.jpg" alt="Cama Colchon" height="150" width="150" title="Colchoneta para perro" border="2">
		<img src="../static/images/cama_moises_antidesgarro.jpg" alt="Cama Moises para perro" height="150" width="150" title="Cama moises para perro" border="2">
		<img src="../static/images/cama_moises_cuna.jpg" alt="Cama cuna tipo moises" height="150" width="150" title="Cama cuna tipo moises" border="2">
		<img src="../static/images/colchon_liso_antidesgarro.jpg" alt="Cama antidesgarro para perro" height="150" title="Cama antidesgarro para perros" border="2">
		<img src="../static/images/cama_para_gatos.jpg" alt="Cama para gatos" height="150" width="150" title="Cama para gatos" border="2">
		<img src="../static/images/cama_y_cueva_para_gatos.jpg" alt="Cama tipo cueva para gatos" height="150" width="150" title="Cama tipo cueva para gatos" border="2">
		<img src="../static/images/cama_felpa_para_gatos.jpg" alt="Cama de felpa" height="150" width="150" title="Cama de felpa para gatos" border="2">
	<hr>
	<footer>
		<p>Copyright &copy 2023 - Amamos a las mascotas! - Diseñado por Grupo19 - Jujuy - República Argentina</p> 
	</footer>
</body>
</html>