<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta charset="UTF-8">
		<!-- Importar CSS -->
		<link rel="stylesheet" th:href="@{/css/estilos.css}">
		<!-- Webpage Icon & Title -->
		<link rel="shortcut icon" type="image/svg" th:href="@{images/pet-shop.svg}">
	<title>Productos</title>
	</head>
	<body>
		<!-- Header -->
		<header th:replace="~{layouts/header :: header}"></header>
		<!-- End of Header -->
			
		<!-- Catalog -->
		<div class="catalog-container">			
			<!-- List of products -->
			<div>
				<h2>Productos</h2>
			</div>
			
			<!-- End of List of products -->
				
			<!-- Section -->
			<section id="seccion">
				<ul >
					<li><a href="#collares_y_correas">Collares y correas</a></li>
					<li><a href="#alimentos">Alimentos</a></li>
					<li><a href="#productos_de_higiene">Productos de Higiene</a></li>
					<li><a href="#juguetes">Juguetes</a></li>
					<li><a href="#camas">Camas</a></li>
				</ul>
				<!-- Product Items -->
				<div class="product-items">
					<article class="collares_y_correas" id="collares_y_correas">
						<h3>Collares y Correas</h3>
						<p>Pequeños, Medianos y Grandes.</p>
                        <img th:src="@{images/Collar_con_pañuelo.jpg}" alt="collar con pañuelo" height="150" width="150" title="collar con pañuelo" border="2">
                        <img th:src="@{images/Collares_nylon_lisos.jpg}" alt="collar común" height="150" width="150" title="collar común de diferentes colores" border="2">
                        <img th:src="@{images/collares_de_cuero.jpg}" alt="collar de cuero" height="150" width="150" title="collar de cuero" border="2">
                        <img th:src="@{images/correa_alpina.jpg}" height="150" width="150" title="Correa Alpina" border="2">
                        <img th:src="@{images/correa_extendible.jpg}" alt="correa extendible" height="150" width="150" title="Correa Extendible" border="2">
                        <img th:src="@{images/correa_extendible_flexi.jpg}" alt="correa extendible flexi" height="150" width="150" title="Correa Extendible Flexi" border="2">
                        <img th:src="@{images/correas_estampadas.jpg}" alt="correas estampadas" height="150" width="150" title="Correas Estampadas" border="2">
					</article>
					<article class="alimentos" id="alimentos">		
						<h3>Alimentos</h3>
						<p>Alimentos balaceados, nutritivos y para mascotas castradas.</p>
                        <img th:src="@{images/alimento_pedigree.jpg}" alt="alimento pedigree" height="150" width="150" title="Alimento Pedigree" border="2">
                        <img th:src="@{images/alimento_bonelo.png}" alt="alimento bonelo" height="150" width="150" title="Alimento Bonelo" border="2">
                        <img th:src="@{images/alimento_dog_chow.jpg}" alt="alimento dog chow" height="150" width="150" title="Alimento Dog Chow" border="2">
                        <img th:src="@{images/alimento_dogui.jpg}" alt="alimento dogui" height="150" width="150" title="Alimento Dogui" border="2">
                        <img th:src="@{images/alimento_agility.jpg}" alt="alimento agility" height="150" width="150" title="Alimento Agility" border="2">
                        <img th:src="@{images/alimento_raza.jpg}" alt="alimento raza" height="150" width="150" title="Alimento Raza" border="2">
                        <img th:src="@{images/alimento_siete_vidas.jpg}" alt="alimento siete vidas" height="150" width="150" title="Alimento Siete Vidas" border="2">
                        <img th:src="@{images/alimento_Gati.jpg}" alt="alimento gati" height="150" width="150" title="Alimento Gati" border="2">
					</article>
					<article class="productos_de_higiene" id="productos_de_higiene">
						<h3>Productos de Higiene</h3>
						<p>Productos de buena calidad para la higiene de tus mascotas.</p>
                        <img th:src="@{images/cepillo_para_gatos.jpg}" alt="cepillo" height="150" title="Cepillo para Gatos" border="2">
                        <img th:src="@{images/caja_para_gato.jpg}" alt="Bandeja Sanitaria para gato" height="150" title="Bandeja Sanitaria para gatos" border="2">
                        <img th:src="@{images/champu_para_mascotas.jpg}" alt="champu" height="150" title="Champu para Mascotas" border="2">
                        <img th:src="@{images/perfume_para_mascotas.jpg}" alt="perfume" height="150" title="Perfume para Mascotas" border="2">
                        <img th:src="@{images/rodillos_quitapelos.jpg}" alt="rodillo" height="150" title="Rodillo quita pelos" border="2">
                        <img th:src="@{images/toallitas-higiene-para-perro-y-gato-musgo-blanco-aloe.jpg}" alt="toallitas" height="150" title="Toallas Higienicas para Mascotas" border="2">	
					</article>
					<article class="juguetes" id="juguetes">
						<h3>Juguetes</h3>
						<p>Juguetes para disfrutar con tu mascota en tu tiempo libre.</p>
                        <img th:src="@{images/hueso_para_perro.jpg}" alt="Juguete de un Hueso" height="150" width="150" title="Hueso para Jugar" border="2">
                        <img th:src="@{images/juguete_mazorca_para_perros.jpg}" alt="Juguete de una Mazorca" height="150" width="150" title="Mazorca para jugar con el perro" border="2">
                        <img th:src="@{images/juguete_para_masticar.jpg}" alt="Juguete para que mastique el perro" height="150" width="150" title="Juguete para masticar" border="2">
                        <img th:src="@{images/pelota_con_alimento_para_perro.jpg}" alt="Juguete pelota con alimento" height="150" width="150" title="Pelota con alimento para perro" border="2">
                        <img th:src="@{images/pelota_estire.jpg}" alt="Juguete pelota estatica para morder" height="150" width="150" title="Pelota para morder y estirar" border="2">
                        <img th:src="@{images/raton_con_sonido.jpg}" alt="raton con sonido para gatos" height="150" width="150" title="Raton con sonido para jugar con el gato" border="2">
                        <img th:src="@{images/tunel_para_gato.jpg}" alt="Tunel para que juegue el gato" height="150" title="Tunel para que juegue el gato" border="2">	
					</article>
					<article class="camas" id="camas">
					<h3>Camas</h3>
						<p>Camas de diferentes modelos y diseños.</p>
                        <img th:src="@{images/cama_colchon_colchoneta.jpg}" alt="Cama Colchon" height="150" width="150" title="Colchoneta para perro" border="2">
                        <img th:src="@{images/cama_moises_antidesgarro.jpg}" alt="Cama Moises para perro" height="150" width="150" title="Cama moises para perro" border="2">
                        <img th:src="@{images/cama_moises_cuna.jpg}" alt="Cama cuna tipo moises" height="150" width="150" title="Cama cuna tipo moises" border="2">
                        <img th:src="@{images/colchon_liso_antidesgarro.jpg}" alt="Cama antidesgarro para perro" height="150" title="Cama antidesgarro para perros" border="2">
                        <img th:src="@{images/cama_para_gatos.jpg}" alt="Cama para gatos" height="150" width="150" title="Cama para gatos" border="2">
                        <img th:src="@{images/cama_y_cueva_para_gatos.jpg}" alt="Cama tipo cueva para gatos" height="150" width="150" title="Cama tipo cueva para gatos" border="2">
                        <img th:src="@{images/cama_felpa_para_gatos.jpg}" alt="Cama de felpa" height="150" width="150" title="Cama de felpa para gatos" border="2">
					</article>
				</div>
				<!-- End of Product Items -->
			</section>
			<!-- End of Section -->
			<p id="back-to-top"><a href="#seccion"> Volver al índice</a>			
		</div>
		<!-- End of Catalog -->
		
		<!-- Separator -->
			<hr>
		<!-- End of Separator -->
		
		<!-- Footer -->
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<!-- End of Footer -->
	</body>
</html>
