<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Servicios de Paseos</title>
</head>
<body>
	<header>
		<h1>TABLA INFORMATIVA</h1>
	</header>
	
	<table border="1">
    <tr>
      <th>Día</th>
      <th>Lunes</th>
      <th>Martes</th>
      <th>Miércoles</th>
      <th>Jueves</th>
      <th>Viernes</th>
      <th>Sábado</th>
    </tr>
    <tr>
      <td>Horario</td>
      <td>8:00 am - 10:00 am</td>
      <td>3:00 pm - 5:00 pm</td>
      <td>10:00 am - 12:00 pm</td>
      <td>1:00 pm - 3:00 pm</td>
      <td>6:00 pm - 8:00 pm</td>
      <td>9:00 am - 11:00 am</td>
    </tr>
    <tr>
      <td>Paseador</td>
      <td>Juan Pérez</td>
      <td>María Rodríguez</td>
      <td>Carlos Gómez</td>
      <td>Lucía Hernández</td>
      <td>Diego Torres</td>
      <td>Ana Martínez</td>
    </tr>
	</table>
	<footer>
	  <small>© servicio de paseos. Todos los derechos reservados 2023</small>
	</footer>
  

</body>
</html>