<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<!-- Importar CSS -->
		<link rel="stylesheet" href="../static/css/estilos.css">
		<!-- Webpage Icon & Title -->
		<link rel="shortcut icon" type="image/svg" href="../static/images/pet-shop.svg">
		<title>Sucursales</title>
	</head>
	<body>
		<!-- Header -->
		<header>
			<div class="header-content">
				<h1>Amamos a las mascotas!</h1>
				<!-- <img src="../static/images/WeLovePets.jpg" alt="PetShopBanner" title="We love Pets!"> -->
			</div>
		</header>
		<!-- End of Header -->
		
		<!-- Nav -->
		<nav class="nav">
			<ul>
				<li><a href="index.html">Regresar a la pagina principal</a></li>
			</ul>
		</nav>
		<!-- End of Nav -->
		
		<!-- Branches-container -->
		<div class="branches-container">
			<!-- Section -->
			<section class="section" id="seccion">
				<h2>Sucursales</h2>
				<ul>
					<li><a href="#sucursal1">Sucursal Monterrico</a></li>
					<li><a href="#sucursal2">Sucursal San Pedro</a></li>
					<li><a href="#sucursal3">Sucursal San Salvador</a></li>
				</ul>
				<article id="sucursal1">
					<h3>Sucursal Monterrico</h3>
					<p>Dirección: 865 Rolando Borges<br>
					   Telefono: 388-102-4324/p>
				</article>
				<article id="sucursal2">
					<h3>Sucursal San Pedro</h3>
					<p>Dirección: 509 La Merced<br>
					   Telefono: 388-867-4453</p>
				</article>
				<article id="sucursal3">
					<h3>Sucursal San Salvador</h3>
					<p>Dirección: 346 Ramírez de Velazco<br>
					   Telefono: 388-451-6849</p>
				</article>
				<p id="back-to-top"><a href="#seccion"> Volver al índice</a>
			</section>
			<!-- End of Section -->
		</div>
		<!-- End of Branches-container -->
		
		<!-- Separator -->
		<hr>
		<!-- End of Separator -->
		
		<!-- Footer -->
		<footer>
			<div class="footer-content">
				<p>Copyright &copy 2023 - Amamos a las mascotas! - Diseñado por Grupo19 - Jujuy - República Argentina</p>
			</div> 
		</footer>
		<!-- End of Footer -->
	</body>
</html>